*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

.gradient-background-blue-green {
  width: 100%;
  height: 100vh;
  background-color: hsl(197, 96%, 48%);
  background-image: linear-gradient(
    135deg,
    hsl(197, 96%, 48%),
    hsl(142, 76%, 36%)
  );
}