.header-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
}

.header-dashboard div {
    display: flex;
    align-items: center;
}

/* .header-dashboard button {
    margin-left: 8px;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.header-dashboard button:hover {
    background-color: #0056b3;
} */

.logo-dashboard {
    display: flex;
    gap: 10px;
    align-items: center;
     color: #1eb957;
}

.user-actions{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 50px;
}

.user-name{
    font-size: 0.9rem;
    color: #364050;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.user-icon, .logout-icon{
    width: 1em;
    height: 1em;
}

.user-info{
    background-color: #dee2e6;
    border-radius: 50px;
    padding: 5px 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.logout-container{
    display: flex;
    border: none;
    background-color: transparent;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    color: #364050;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.logout-container:hover {
    background: #FDECEC;
    border: none;
    color: #E74C3C;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px 10px;
}

.logout-button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.content-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    box-sizing: border-box;
    gap: 20px;
    padding-bottom: 40px;
}

.text-intro{
    font-size: 2.3rem;
    color: #364050;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
}

.text-description{
    font-size: 1.2rem;
    color: #64748b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
}

.info-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    flex-direction: column;
}

.your-info{
    font-size: 1.5rem;
    color: #364050;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}

.info-description{
    font-size: 1rem;
    color: #64748b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.form-section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 20px; 
  box-sizing: border-box;
  
}

.diet-form {
  width: 100%;
  max-width: 800px; 
  background-color: #FAFCFD;
  padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

.form-row{
    display: flex;
    gap: 20px; 
    flex-wrap: wrap;
    margin-bottom: 15px; /
}

.form-group{
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-width: 250px;
}

.form-group label{
    margin-bottom: 5px;
    font-size: 1rem;
    color: #364050;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}

.form-group input, .form-group select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form-group input:focus, .form-group select:focus{
    border-color: #1eb957;
    outline: none;
    box-shadow: 0 0 5px rgba(30, 185, 87, 0.5);
}

input::placeholder {
    color: #363636; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}



.form-group select{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    color: #364050;
} 

.goal-option {
    color: #364050;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-generate-diet{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.generate-diet-button{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1eb957;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}

.diet-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
}

.loading-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.loading-message{
    font-size: 1rem;
    color: #64748b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.diet-plan{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.diet-plan-title{
    font-size: 1.5rem;
    color: #364050;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
}

.diet-goal-info{
    display: flex;

    align-items: center;
    gap: 5px;
}

.goal-user-info{
    font-size: 1rem;
    color: #64748b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
}

.goal-user{
    font-size: 1rem;
    font-weight: 600;
    color: #1eb957;
}

.diet-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.diet-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin-top: 40px;
    padding: 0 20px;
}

.diet-json{
    background-color: #FBFCFD;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 4px;
}

.diet-json:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.day{
    font-size: 1.0rem;
    font-weight: 600;
    color: #1eb957;
}

.meal-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background-color: #FEFEFE;
    border: 1px solid #F0F3F7;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.hour{
    font-size: 1.0rem;
    font-weight: 600;
    color: #05ADF0;
}

.food-item{
    font-size: 0.9rem;
    color: #364050;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.calories{
    border: 1px solid #F0F3F7;
    border-radius: 50px;
    padding: 5px 10px;
}

.calories span{
    font-size: 0.8rem;
    color: #64748b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
}